:root {
  --primary: #673ab7;
  --light: #ffffff;
  --dark: #000000;
  --gray: #eaeaea;
  --text-muted: #70757a;
  --orange: #ff9800;

  --radius: 10px;
  --border-size: 3px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--dark);
  background-color: var(--light);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
