:root {
  --primary: #9c27b0;
  --light: #ffffff;
  --dark: #000000;
  --gray: #eaeaea;

  --radius: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--dark);
  background-color: var(--light);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
