.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.inputBox {
  margin-top: 1.2rem;
  width: 420px;
  border: solid 3px var(--dark);
  border-radius: 25px;
  transition: all 4ms ease;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.input {
  font-size: 16px;
  width: 100%;
  border: none;
  padding: 10px 15px;
}

.input:focus {
  outline: none;
}

.inputIcon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inputBox:hover {
  border-color: var(--primary);
}

.inputBox:hover > .inputIcon {
  background-color: var(--primary);
  color: var(--light);
  transition: all 0.15s ease;
}

.grid {
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  grid-gap: 1.4rem;
}

.card {
  padding: 0.5rem 1rem;
  width: calc((100% / 3) - 20px);
  border: solid 3px var(--dark);
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--primary);
  border-color: var(--primary);
}

.card.cardActive {
  color: var(--primary);
  border-color: var(--primary);
}

.card .cardIcon {
  font-size: 1.5rem;
}

.card .cardTitle {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .inputBox,
  .grid {
    width: 100%;
  }
}
