.items {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.4rem;
}

.itemCard {
  width: calc((100% / 3) - 20px);
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding-bottom: 0.8rem;
}

.itemCard img.itemImage {
  width: 100%;
  border-radius: var(--radius);
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.itemCard .itemContent {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.itemCard .itemContent .itemTitle {
  font-weight: 600;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4px;
}

.itemCard .itemContent a:hover {
  text-decoration: underline;
}

.itemCard .itemContent p {
  margin: 0;
}

.itemCard .itemContent .itemPrice {
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 600;
}

.itemCard .itemContent .itemUrl {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.itemCard .itemContent .itemRating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.itemCard .itemContent .itemRating .icon {
  color: var(--orange);
  font-size: 1.2rem;
}

.itemCard .itemContent .itemRating .textRating {
  font-size: 0.8rem;
}

/* .itemCard .itemContent .itemRight {
  margin-left: auto;
}

.itemCard .itemContent .itemRight .itemIcon {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 0.4rem;
} */

@media (max-width: 600px) {
  .itemCard {
    width: calc((100% / 2) - 12px);
  }
  .itemCard img.itemImage {
    height: 140px;
  }
}
