.search {
  position: relative;
  width: 100%;
}

.inputBox {
  margin-top: 1.2rem;
  width: 420px;
  border: solid 3px var(--dark);
  border-radius: 25px;
  transition: all 4ms ease;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.input {
  font-size: 16px;
  width: 100%;
  border: none;
  padding: 10px 15px;
}

.input:focus {
  outline: none;
}

.inputIcon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inputBox:hover {
  border-color: var(--primary);
}

.inputBox:hover > .inputIcon {
  background-color: var(--primary);
  color: var(--light);
  transition: all 0.15s ease;
}

.suggestion {
  position: absolute;
  border: solid;
  width: 100%;
  background: white;
  border-radius: var(--radius);
  margin-top: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.suggestion ul {
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  border-radius: var(--radius);
  overflow: hidden;
}

.suggestion ul li {
  padding: 0.4rem 0.7rem;
}

.suggestion ul li:hover {
  background-color: var(--gray);
}

.suggestion::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid black;
  position: absolute;
  top: -12px;
  left: 15px;
}
