.container {
  min-height: 100vh;
  width: 420px;
  padding: 0 0.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.2rem;
  gap: 1.2rem;
}

.header h3.brand {
  margin: 0;
  font-size: 2rem;
}

.items {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.4rem;
}

.itemCard {
  width: calc((100% / 2) - 12px);
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-bottom: solid;
  padding-bottom: 0.8rem;
}

.itemCard img.itemImage {
  width: 100%;
  border-radius: var(--radius);
  height: 140px;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
}

.itemCard .itemContent {
  display: flex;
  align-items: center;
}

.itemCard .itemContent .itemLeft .itemTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.itemCard .itemContent .itemLeft .itemTitle:hover {
  text-decoration: underline;
}

.itemCard .itemContent .itemLeft .itemPrice {
  margin: 0;
}

.itemCard .itemContent .itemRight {
  margin-left: auto;
}

.itemCard .itemContent .itemRight .itemIcon {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 0.4rem;
}
